<br><br><br><br><br><br>
<h1 style="text-align: center;">ACTUALIZAR PRODUCTO</h1>
<form class="form" (ngSubmit)="submitForm()">
    <mat-form-field class="input">
        <mat-label>Nombre</mat-label>
        <input matInput name="nombre" [(ngModel)]="producto.nombre" required>
        <mat-error *ngIf="producto.nombre.trim() === ''">Este campo es obligatorio.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="input">
        <mat-label>Imagen</mat-label>
        <input matInput type="text" name="imagen" [(ngModel)]="producto.imagen" required>
        <mat-error *ngIf="producto.imagen.trim() === ''">Este campo es obligatorio.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="input">
        <mat-label>Descripción</mat-label>
        <textarea matInput name="descripcion" [(ngModel)]="producto.descripcion"></textarea>
    </mat-form-field>
    <br>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="input2">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" name="precio" [(ngModel)]="producto.precio" required>
                    <mat-error *ngIf="producto.precio <= 0">El precio debe ser mayor a 0.</mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="input2">
                    <mat-label>Cantidad en stock</mat-label>
                    <input matInput type="number" name="stock" [(ngModel)]="producto.stock" required>
                    <mat-error *ngIf="producto.stock <= 0">La cantidad debe ser mayor a 0.</mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formularioValido()">Actualizar producto</button>
</form>
