<br><br><br><br><br><br>
<div class="search-container">
    <!-- Campo de búsqueda para ID de pedido, nombre de usuario o producto -->
    <mat-form-field class="search-field">
      <mat-label>Buscar Pedido</mat-label>
      <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" placeholder="Buscar por ID, usuario, producto o nombre">
    </mat-form-field>
  
<!-- Campo de búsqueda por fecha de inicio -->
<mat-form-field class="search-field">
    <mat-label>Fecha de Inicio</mat-label>
    <input 
      matInput 
      [matDatepicker]="startDate" 
      [(ngModel)]="startDateValue" 
      (ngModelChange)="applyFilter()" 
      placeholder="Fecha de inicio" 
      [readonly]="true" 
      [matDatepickerFilter]="validarFechaInicio">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
  
  <!-- Campo de búsqueda por fecha de fin -->
  <mat-form-field class="search-field">
    <mat-label>Fecha de Fin</mat-label>
    <input 
      matInput 
      [matDatepicker]="endDate" 
      [(ngModel)]="endDateValue" 
      (ngModelChange)="applyFilter()" 
      placeholder="Fecha de fin" 
      [readonly]="true" 
      [matDatepickerFilter]="validarFechaFin">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>
    
  <div *ngIf="!validarRangoFechas()" class="error-message">
    <p>La fecha de inicio no puede ser posterior a la fecha de fin.</p>
  </div>
  
</div>
  
<!-- Tabla de pedidos -->
<div class="table-container">
  <h2 class="table-title">Listado de Pedidos</h2>

  <!-- Mensaje si no hay coincidencias -->
  <div *ngIf="dataSource.data.length === 0" class="no-results">
    <p>No se encontraron resultados para los filtros aplicados.</p>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-table">
   
   
    <!-- Definir las columnas -->
    <ng-container matColumnDef="pedido_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Pedido</th>
      <td mat-cell *matCellDef="let pedido">{{pedido.pedido_id}}</td>
    </ng-container>

    <ng-container matColumnDef="nombre_usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Usuario</th>
      <td mat-cell *matCellDef="let pedido">{{pedido.nombre_usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="nombre_producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Producto</th>
      <td mat-cell *matCellDef="let pedido">{{pedido.nombre_producto}}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let pedido">{{pedido.fecha | date}}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let pedido">{{pedido.estado}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginación -->
  <mat-paginator [length]="pedidos.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
