table {
  width: 100%;
}

.mat-mdc-form-field {
font-size: 14px;
width: 100%;
}

.example-button-container {
position: fixed;
bottom: 490px; /* Opcional: ajusta la distancia desde la parte inferior */
right: 32px; /* Ajusta la distancia desde el borde derecho */
}

img, svg {
  vertical-align: middle;
  height: 250px;
  width: 250px;
}