<br><br><br><div class="container">
  <div class="table-container">
    <h1 class="title">Detalles del Usuario</h1>
    <table class="details-table">
      <tr>
        <th>ID</th>
        <td>{{ usuario?.id }}</td>
      </tr>
      <tr>
       
      <tr>
        <th>Nombre</th>
        <td>{{ usuario?.nombre }}</td>
      </tr>
      <tr>
        <th>Correo Electrónico</th>
        <td>{{ usuario?.correo_electronico }}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{ usuario?.direccion }}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{ usuario?.telefono }}</td>
      </tr>
    </table>
    <button mat-button class="back-button" (click)="regresar()">Volver a la lista</button>
  </div>
</div>
