/* Contenedor general */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px); /* Ajusta según la altura del navbar */
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  /* Contenedor de la tabla */
  .table-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  /* Título */
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    font-weight: bold;
  }
  
  /* Tabla de detalles */
  .details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .details-table th, .details-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #e0e0e0;
  }
  
  .details-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #666666;
  }
  
  .details-table td {
    color: #333333;
  }
  
  /* Botón */
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  