<br>
<br>
<br>
<br>
<br>
<div class="container mt-5">
  <h1>Realizar Pedido</h1>

  <!-- Formulario de pedido -->
  <form (ngSubmit)="realizarPedido()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Seleccionar Producto</mat-label>
      <mat-select [(value)]="pedido.producto" required>
        <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
          {{ producto.nombre }} (Stock: {{ producto.stock }})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cantidad</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="pedido.cantidad"
        name="cantidad"
        min="1"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Hacer Pedido</button>
  </form>
</div>
